<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utsav.roomdatabase">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDatabase">
        <activity
            android:name=".UncompletedTask"
            android:exported="true" />
        <activity
            android:name=".CompletedTasks"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".Room.Show"
            android:exported="true" />
        <activity
            android:name=".Room.Update"
            android:exported="true" />
        <activity
            android:name=".Room.Add"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateTaskActivity"
            android:exported="true" />
        <activity
            android:name=".AddTaskActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>